<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify post</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/modify.css">
</head>
<body>
    <main>
        <% if(locals.post){ %>
            <h1 class="heading"><%= heading %></h1>
            <form id="edit-post" method="POST" action="/api/posts/<%= post.id %>">
                <input type="text" name="title" value="<%= post.title %>">
                <textarea name="content" rows="10"><%= post.content %></textarea>
                <input type="text" name="author" value="<%= post.author %>">
                <button class="submit-btn" type="submit"><%= submit %></button>
            </form>
        <% }else{ %>
            <h1 class="heading"><%= heading %></h1>
            <form id="create-new-post" method="POST" action="/api/posts">
                <input type="text" name="title" placeholder="Title" required>
                <textarea name="content" placeholder="Content" rows="10" required></textarea>
                <input type="text" name="author" placeholder="Author" required>
                <button class="submit-btn" type="submit"><%= submit %></button>
            </form>
        <% } %>
    </main>
</body>
</html>